<template>
	<v-app id="inspire" light>
		<app-header></app-header>
		<v-content>
			<router-view></router-view>
			<app-footer></app-footer>
		</v-content>
		<loader></loader>
	</v-app>
</template>

<script>
	import AppHeader from './components/includes/AppHeader';
	import AppFooter from './components/includes/AppFooter';
	import Loader from './components/includes/Loader';

	export default {
	    components: {
	    	AppHeader,
	    	AppFooter,
	    	Loader
	    }
	};
</script>