<template>
  <v-toolbar dark color="primary pa-3" height="40px">
    <v-toolbar-side-icon></v-toolbar-side-icon>
    <v-toolbar-title>
      <router-link to="/" tag="span" style="cursor: pointer">Coalition Test</router-link>
    </v-toolbar-title>
    <v-spacer></v-spacer>
  </v-toolbar>
</template>