<template>
	<v-dialog v-model="$store.state.loading" hide-overley persistent width="300">
		<v-card color="primary" dark>
			<v-card-text>
				Please stand by
				<v-progress-linear indeterminate color="white" class="mb-0">
				</v-progress-linear>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>