<template>
    <v-flex xs5>
    <v-card>
        <v-toolbar dark class="primary">
            <v-toolbar-title>Add Product</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn router-link to="/"  class="secondary mr-2">back</v-btn>
        </v-toolbar>
    <v-container fluid grid-list-lg>
    	<v-form ref="form">
            <v-text-field v-model="product.product_name"
            :rules="[rules.required, rules.length(3)]" label="Product Name" required></v-text-field>

            <v-text-field v-model="product.product_quantity" type="number" :rules="[rules.required]" label="Quantity" required></v-text-field>
                
            <v-text-field v-model="product.product_price" :rules="[rules.required]"  label="Amount" value="10.00" prefix="$"
            ></v-text-field>
          
      
          <v-btn class="primary" @click="add">
            Add
          </v-btn>
        </v-form>
    </v-container>
</v-card>
</v-flex>
</template>

<script>
    export default {
        data() {
            return {
                product: {
                    product_name: '',
                    product_quantity: '',
                    product_price: ''
                },
                rules: {
                    required: value => !!value || 'Required.',
                    length: len => v => (v || '').length >= len || `Invalid character length, required ${len}`
                },
                error: null
            };
        },
        methods: {
        	add() {
    		 axios.post('/api/products/new', this.$data.product)
                .then((response) => {
                    this.$router.push('/');
                });
        	}
        }
    };
</script>