<template>
	<v-flex xs5>
	<v-card>
        <v-toolbar dark class="primary">
            <v-toolbar-title>{{ product.product_name }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn router-link to="/"  class="secondary mr-2">Back</v-btn>
        </v-toolbar>
    <v-container fluid grid-list-lg>
		<v-card-title primary-title>
	        <div>
	          <span class="headline">
	          	<span class="blue--text">Quantity in stock:</span> {{ product.product_quantity }}</span><br>
	          <span class="headline"><span class="blue--text">Price per Item:</span> {{ product.product_price }}</span><br>
	          <span class="headline"><span class="blue--text">Date Submitted:</span> {{ product.updated_at | moment("MMMM Do YYYY") }}</span><br>
	          <span class="headline"><span class="blue--text">Total Value:</span> {{ product.product_price *  product.product_quantity}}</span>
	        </div>
	    </v-card-title>
	</v-container>
</v-card>
</v-flex>
</template>

<script>
	export default {
		created() {
            if (this.products.length) {
                this.product = this.products.find((product) => product.id == this.$route.params.id);
            } else {
                axios.get(`/api/products/${this.$route.params.id}`)
                    .then((response) => {
                        this.product = response.data.product
                    });
            }
        },
        data() {
            return {
                product: null
            };
        },
        computed: {
            products() {
                return this.$store.getters.products;
            }
        }
	}
</script>