<template>
  <v-flex xs8>
  <v-card>
    <v-toolbar dark class="primary">
        <v-toolbar-title>Product List</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn router-link to="product/new"  class="secondary mr-2">Add New</v-btn>
    </v-toolbar>
    <v-container fluid grid-list-lg>
    	<v-data-table
          :headers="headers"
          :items="products"
          class="elevation-1"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.product_name }}</td>
            <td class="text-xs-right">{{ props.item.product_quantity }}</td>
            <td class="text-xs-right">{{ props.item.product_price }}</td>
            <td class="text-xs-right">{{ props.item.updated_at | moment("MMMM Do YYYY") }}</td>
            <td class="text-xs-right">{{ props.item.product_price *  props.item.product_quantity}}</td>
            <td class="text-xs-right">
              <router-link :to="`/${props.item.id}`">View</router-link>
            </td>
          </template>
          <template slot="pageText" slot-scope="props">
            Lignes {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
          </template>
        </v-data-table>
    </v-container>
  </v-card>
</v-flex>
</template>
<script>
	export default {
	data () {
	    return {
	      headers: [
	        {
	          text: 'Product Name',
	          align: 'left',
	          sortable: false,
            value: 'product_name'
	        },
	        { text: 'Quantity in stock', value: 'product_quantity'},
	        { text: 'Price per item', value: 'product_price'},
          { text: 'Date submitted', value: 'updated_at'},
          { text: 'Total Value', value: 'id',},
          { text: 'Action', value: 'id'}
	      ],
	    }
	},
	mounted() {
        this.$store.dispatch('getProducts');
    },
	computed: {
        products() {
            return this.$store.getters.products;
        }
    }
};
</script>